#accordionWrapper{
	margin-top: 100px;

	.accordion{
		display: block;
		max-width: 100%;
		width:730px;
		height:400px;
		margin:0 auto;
		position:relative;
		overflow:hidden;
		// this skews the whole accordion
		transform: skewX(-12deg);
		border: 15px solid white;
		box-shadow: 0px 0px 45px -2px rgba(0,0,0,0.75);

		li{
			list-style:none;
			position:absolute;
			overflow:hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 0px 0 0px rgba(255,255,255,0.4);
		
			img{
				position: relative;
				left: - 100px;
				width: 700px;
				// this unskews the images
				transform: skewX(12deg);
				cursor: pointer;
				
				
				
				
			}

			h1{
				transform: skewX(-12deg);
				color: white;
				position: relative;
				left: -550px;
				top: -110px;
				font-size: 25px;
				text-align: center;
				font-family: garamond;
				font-weight: normal;

				span{
					font-size:55px;
					font-weight: bold;

				}
				
				

			}

		}

	}
}

.accordionWrapperMobile{
	margin-top: 100px;
	display: none;
	img{
		margin-top: 20px;
		box-shadow: 0px 0px 45px -2px rgba(0,0,0,0.75);
		padding: 0;
		border: 5px solid white;
		cursor: pointer;
	}
	h1{
		font-family: garamond;
		text-align: center;
		position: relative;
		top: 10px;
	}
}
