.contact{
    width: 100%;
    display: none;
    
    input{
        display: block;
        margin-top: 50px;
        background: rgba(0,0,0,0);
        border-bottom: 3px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;
        font-family: 'EB Garamond', serif;
    }
    input[type="submit"]{
        text-align: center;
        min-width: 80px;
        border: none;
        display: block;
        border: 2px solid black;
        padding: 10px;
        background-image: url(../assets/png/black.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: -200px;
        transition: 0.5s all ease-in;
        
        &:hover{
            color: white;
            background-position-x: 0px;
        }
        

    }

    textarea{
        display: block;
        margin-top: 50px;
        background: rgba(0,0,0,0);
        border-bottom: 3px solid black;
        border-top: none;
        border-left: 3px solid black;
        border-right: none;
        font-family: 'EB Garamond', serif;
        margin-bottom: 20px;
        height: 200px;

    }
}